$small-tiles: 10px;
$medium-tiles: 15px;
@mixin hover-style {
    background-color: aliceblue;
}
@mixin focused-style {
    @include hover-style;
    outline: 1px solid black;
}
@mixin focus-element {
    &:hover {
        @include hover-style;
    }
    &:focus, &.focus {
        @include focused-style;
    }
}
body.contributions-body {
    &.hub {
        overflow: auto;
        padding: 8px;
    }
    &.widget {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .feedback {
        float: right;
    }
    button.ms-Button {
        @include focus-element;
    }
    .collapsible-header {   
        .header {
            display: flex;
            align-items: center;
            h1,h2,h3,h4,h5,h6 {
                margin: 0px;
                display: inline-block;
            }
            button.toggle-button {
                vertical-align: sub;
            }
        }
    }
    .filter-container {
        .filter-header {
            .filters {
                display: table;
                > * {
                    display: table-row;
                    > * {
                        display: table-cell;
                        vertical-align: top;
                        padding: 3px 5px;
                    }
                }
                .ms-Toggle {
                    @include focus-element;
                }
            }
        }

    }
    .graphs {
        display: flex;
        flex-wrap: wrap;
    }
    .user-contributions {
        margin: 0 5px;
    }
    
    .graph {
        display: table;
        .month-labels {
            display: flex;
        }
        .year {
            display: flex;
            position: relative;
            flex-flow: row wrap;
            .day-container {
                cursor: pointer;
                &.place-holder {
                    visibility: hidden;
                }
                &:focus {
                    outline: 2px solid #00FFFF
                }
                .day {
                    background-color: #e6e6e6;
                    margin: 1px;
                    &.work_0 {
                        background-color: #C0C0FF;
                    }
                    &.work_25 {
                        background-color: #8080FF;
                    }
                    &.work_50 {
                        background-color: #4040FF;
                    }
                    &.work_75 {
                        background-color: #0000FF;
                    }
                }
                .day-filter {
                    margin: 1px;
                    position: relative;
                    &.hover:not(.selected) {
                        opacity: 0.3;
                        background-color: black;
                    }
                    &.selected {
                        border: 3px solid black;
                    }
                }
            }
        }
        .graph-spinner {
            position: absolute;
        }
    }
    .graph.medium-tiles .year {
        height: ($medium-tiles + 2) * 7;
        width: ($medium-tiles + 2) * 52;
        .graph-spinner {
            left: 437px;
            bottom: 42px;
        }
        .day-container {
            width: $medium-tiles + 2;
            height: $medium-tiles + 2;
            .day {
                width: $medium-tiles;
                height: $medium-tiles;
            }
            .day-filter {
                width: $medium-tiles;
                height: $medium-tiles;
                top: -  $medium-tiles - 1;
            }
        }
    }
    .graph.small-tiles .year {
        height: ($small-tiles + 2) * 7;
        width: ($small-tiles + 2) * 52;
        .graph-spinner {
            left: -320px;
            top: 30px;
        }
        .day-container {
            width: $small-tiles + 2;
            height: $small-tiles + 2;
            .day {
                width: $small-tiles;
                height: $small-tiles;
            }
            .day-filter {
                width: $small-tiles;
                height: $small-tiles;
                top: -  $small-tiles - 1;
            }
        }
    }
    .time-window {
        .header {
            h3 {
            }
        }
        .search-contributions {
            display: flex;
            .search-box {
                width: 400px;
            }
        }
        .contribution-section {
            .hidden {
                display: none;
            }
            .contribution-item {
                padding: 2px 0px 2px 20px;
                @include focus-element;
                a.title {
                    color: black;
                    &:hover, &:visited, &:hover, &:focus, &:active {
                        color: black;
                    }
                }
                .location-time {
                    font-size: smaller;
                    color: gray;
                }
            }
        }
    }
}
