$small-tiles: 10px;
$medium-tiles: 15px;
body.contributions-body {
    &.hub {
        overflow: auto;
    }
    &.widget .identity-container {
        margin: 8px 0px;
    }
    padding: 0px 10px;
    .feedback {
        float: right;
    }
    .collapsible-header {
        .header {
            h1,h2,h3,h4,h5,h6 {
                margin-bottom: 0px;
                display: inline-block;
            }
            button.toggle-button {
                vertical-align: sub;
            }
        }
    }
    .filter-container {
        .filter-header {
            .filters {
                display: flex;
                > * {
                    margin-right: 10px;
                }
            }
        }

    }
    .graph-container {
        .year {
            display: flex;
            .week {
                display: flex;
                flex-direction: column;
                .day-container {
                    .day {
                        background-color: #d3d3d3;
                        margin: 1px;
                        &.work_0 {
                            background-color: #C0C0FF;
                        }
                        &.work_25 {
                            background-color: #8080FF;
                        }
                        &.work_50 {
                            background-color: #4040FF;
                        }
                        &.work_75 {
                            background-color: #0000FF;
                        }
                    }
                    .day-filter {
                        margin: 1px;
                        position: relative;
                        background-color: black;
                        opacity: 0;
                        cursor: pointer;
                        &.hover:not(.selected) {
                            opacity: 0.3;
                        }
                        &.selected {
                            opacity: 0.8;
                        }
                    }
                }
            }
            .graph-spinner {
                position: relative;
            }
        }
        .year.medium-tiles {
            .graph-spinner {
                left: -482px;
                top: 46px;
            }
            .week .day-container {
                width: $medium-tiles + 2;
                height: $medium-tiles + 2;
                .day {
                    width: $medium-tiles;
                    height: $medium-tiles;
                }
                .day-filter {
                    width: $medium-tiles;
                    height: $medium-tiles;
                    top: -  $medium-tiles - 1;
                }
            }
        }
        .year.small-tiles {
            .graph-spinner {
                left: -320px;
                top: 30px;
            }
            .week .day-container {
                width: $small-tiles + 2;
                height: $small-tiles + 2;
                .day {
                    width: $small-tiles;
                    height: $small-tiles;
                }
                .day-filter {
                    width: $small-tiles;
                    height: $small-tiles;
                    top: -  $small-tiles - 1;
                }
            }
        }
    }
    .time-window-container {
        .time-window {
            .hidden {
                display: none;
            }
            .contribution-item {
                padding: 2px 0px 2px 20px;
                &:hover {
                    background-color: aliceblue;
                }
                a.title {
                    color: black;
                    &:hover, &:visited, &:hover, &:focus, &:active {
                        color: black;
                    }
                }
                .location-time {
                    font-size: smaller;
                    color: gray;
                }
            }
        }
    }
}
